@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  font-size: 10px;
  --fontFam: 'Comfortaa', sans-serif;
  --spacing: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 1.6rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--fontFam);
}
